body{
    margin: 0;
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-color: rgb(126, 112, 219);
}
.calender-container{
    background-color: bisque;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    overflow: hidden;
}

.month-name{
    margin: 0;
    padding: 10px;
    background-color: orangered;
    color: bisque;
    font-size: 30px;
    font-weight: bold;
}

.day-name{
    font-size: 20px;
    color:  orangered;
}
.day-number{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.year{
    margin: 20px ;
    font-size: 20px;
    color: orangered;
    font-weight: 500;
} 